html {
    background-color: #333;
}

form, .card, .flexbox {
    background-color: #444;
    color: #ddd;
    border-radius: 16px;
    box-shadow: 1px 1px 4px #000, inset 1px 1px 2px #fff;
    width: 256px;
    min-height: 128px;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 16px 8px;
}

.flexbox {
    flex-direction:row;
}

.box {
    min-width: 64px;
    min-height: 32px;
}

#box-001 {
    background-color: #c00;
}

#box-002 {
    background-color: #0c0;
}

#box-003 {
    background-color: #00c;
}